.login {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(rgba(255, 0, 0, 0), #0c0a0a),
        url(https://uat-anzen.azurewebsites.net/static/backgroundLogin.fe7725dd.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: .8;
    background-position: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form {
    width: 100%;
    /* border: 1px solid black; */

}

.input-login {
    width: 100%;
    height: 48px;
    border-radius: 25px;
}

.login-main {
    width: 500px;
    height: 500px;
    padding: 24px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-main img {
    width: 132px;
    height: 130px;
    margin-bottom: 40px;
}

.login-main p {
    font-size: 24px;
    color: #cccc;
    font-family: "Nunito", "sans-serif";
    margin-bottom: 40px;
}

.spanlogo {
    color: #f42323;
    font-size: 24px;
    font-weight: 700;
    font-family: "Nunito", "sans-serif";

}

.ant-btn {
    width: 220px;
    height: 40px;
    background-color: #f42323;
    font-size: 16px;
    font-family: "Nunito", "sans-serif";
}

.ant-spin-dot-item {
    background-color: orangered !important;
}

.ant-spin-text {
    color: orangered !important;
    font-size: 18px !important;
}