.formSearch {
    width: 100%;
}

.input-item {
    border-radius: 5px;
}

.ant-form-item {
    padding: 0 35px 0 0;
}

.btn-order {
    padding: 4px 15px;
    background-color: #ffbd2f;
    border-radius: 5px;
    outline: none;
    margin-right: 10px;
    border: none;
    font-size: 14px;
    color: #ffff;
}

.btn-order-cancel {
    padding: 4px 15px;
    background: white;
    border: 1px solid #ccc;
    margin-right: 10px;

}

.ant-table-thead>tr>th {
    background-color: #ccc !important;
    border-radius: 0 !important;
    border-bottom: 1px solid !important;
}

.ant-table-tbody>tr>td {
    border-bottom: 1px solid !important;

}

.ant-table {
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-radius: 0px !important;
    width: 100% !important;
}

.ant-card {
    background: #ccc !important;
}

.ant-card-head-title {
    font-weight: normal;
    font-size: 18px;
}

.btnEdit-formProduct {
    padding: 4px 15px;
    border: 1px solid #ccc;
    background: white;
}

.btnDelete-formProduct {
    padding: 4px 15px;
    border: 1px solid #ff4d4f;
    background: white;
    color: #ff4d4f;
}

.ant-picker-range-separator {
    margin-bottom: 8px !important;
}

.ant-modal-header {
    border-bottom: 1px solid #ccc;
    padding: 16px 24px;
}

.ant-modal-footer {
    padding: 10px 16px;
    border-top: 1px solid #ccc;
}

.table-code {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black;
    padding: 50px;
}

.table-code>tr>th {
    border-bottom: 1px solid black;
}

.table-code>tr>td {
    padding-left: 20px;
}

.table-code>tr>th {
    padding-left: 20px;
}