.ant-layout-header {
    /* border: 1px solid black; */
    background-color: #f42323 !important;
    height: 80px;
}

.demo-logo-vertical {
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.demo-logo-vertical img {
    height: 32px;
    margin-right: 15px;
}

.demo-logo-vertical h1 {
    font-size: 18px;
    font-weight: 600;
    color: #f42323;
}

.ant-menu {
    background-color: #cccc !important;
    color: black;
    height: 100%;

}

.ant-layout-sider {
    background-color: #cccc !important;
    width: 210px !important;
    height: 100vh !important;

}

.ant-layout-sider-children {
    background-color: #cccc !important;
    height: 100vh !important;

}

.ant-menu-item {
    background-color: #cccc;
    margin: 10px 0 !important;
    width: 100% !important;
    border-radius: 0 !important;
}

.ant-menu-item:hover {
    background-color: #cccc;
    color: black !important;
    border-radius: 0 !important;
}

.ant-menu-item-selected>a{
    transition: fill 0s !important;
}
.ant-menu-item-selected {
    background-color: white !important;
    color: #f42323 !important;
    border-radius: 0 !important;
    border-right: 4px solid orange;
    transition: all 0.1 ease;
}
.ant-menu-item-active {
    background-color: white !important;
    transition: all 0.1 ease;

}
.ant-menu-title-content {
    font-size: 16px;
    font-weight: 900;
}

.img-icon {
    height: 14px;
}

.ant-layout-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user {
    margin-right: 20px;
    margin-left: 10px;
    font-weight: bold;
    color: #ffffff;
    font-size: 16px;
}

.anticon svg {
    margin-bottom: 5px;
}

/* css icon */