/* .middle {
  padding: 0px 12px 10px 12px;
} */
.btn {
  padding: 4px 15px;
  color: white;
  border: 1px solid #ffae00;
  background-color: #ffbd2f;
}
.btn:hover {
  background-color: #ffae00;
}
.header {
  margin-bottom: 8px;
}
.table {
  margin-left: -8px;
}
